 /* Right: Customer List */
 .list-section {
     flex: 2;
     background: #fff;
     padding: 20px;
     border-radius: 8px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .list-section h2 {
     margin-top: 0;
 }

 table {
     width: 100%;
     border-collapse: collapse;
 }

 table th,
 table td {
     border: 1px solid #ddd;
     padding: 10px;
     text-align: left;
 }

  table td input{
     padding: 5px 0;
     width: 100%;
 }


 table th {
     background: #007bff;
     color: #fff;
 }

 .delete
{
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    background-color: red;
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 5px;
}

.update
{
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(3, 131, 116);
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.save
{
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
    background-color: rgb(86, 2, 134);
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 5px;
    text-align: center;
}