<div class="list-section">
    <div class="top">
        <h2>Customer List</h2>
       @if(customerList().length > 0){ <input placeholder="Search..." class="search" />}
    </div>
    @if(customerList().length > 0)
    {
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th class="small">Type</th>
                <th class="small">Gander</th>
                <th>Hobbies</th>
                <th>Countries</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @for(item of customerList().slice(currentPage*5-5, currentPage *5); track item.id) {
            @if(editingId === item.id)
            {
            <tr>
                <td><input [(ngModel)]="editedCustomer()!.name"></td>
                <td><input [(ngModel)]="editedCustomer()!.email"></td>
                <td><input [(ngModel)]="editedCustomer()!.phoneNumber"></td>
                <td><input [(ngModel)]="editedCustomer()!.address"></td>
                <td>
                    <select [(ngModel)]="editedCustomer()!.customerTypeId" class="select">
                        <option [ngValue]="null" disabled>Select customer type</option>
                        @for (item of customerTypes; track $index) {
                        <option [ngValue]="$index">{{item}}</option>
                        }
                    </select>
                </td>
                <td>
                    <div class="level-container">
                        <label>
                            <input type="radio" name="gender" value="Male" [(ngModel)]="editedCustomer()!.gender"
                                class="radio" />
                            Male
                        </label>
                        <label>
                            <input type="radio" name="gender" value="Female" [(ngModel)]="editedCustomer()!.gender" />
                            Female
                        </label>
                    </div>
                </td>
                <td>
                    <div class="level-container">
                        @for(hobby of hobbis; track $index) {
                        <label>
                            <input type="checkbox" [checked]="editedCustomer()?.hobbies?.includes(hobby)"
                                (change)="toggleHobby(hobby, $event)" />
                            {{ hobby }}
                        </label>
                        }
                    </div>
                </td>
                <td>
                    <select multiple size="5" class="select" [(ngModel)]="editedCustomer()!.countryCodes">
                        @for ( country of countries; track $index) {
                        <option [ngValue]="country">{{ country }}</option>
                        }
                    </select>
                </td>
                <td><button class="save" (click)="updateSave(item.id, editedCustomer()!)">Save</button>
                    <button class="cancel" (click)="onUpdateCancel()">Cancel</button>
                </td>
            </tr>
            }
            @else {
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.address}}</td>
                <td>{{customerTypes[item.customerTypeId]}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.hobbies}}</td>
                <td>{{item.countryCodes}}</td>
                <td><button class="update" (click)="onUpdate(item.id)">Update</button><button class="delete"
                        (click)="onDelete(item.id)">Delete</button></td>
            </tr>
            }
            }
        </tbody>
    </table>
    <p> {{currentPage*5-5 +1}} -
        @if(customerList().length < currentPage*5 )
        {
        <span>{{ currentPage*5 - (currentPage*5 - customerList().length) }}</span>
        }
        @else
        {
        <span>{{currentPage*5}}</span>
        }
        out of {{customerList().length}}
    </p>
    <app-pagination (currentPageOutPut)="receiveCurrentPage($event)"
        [allItems]="customerList().length"
        [totalPages]="totalPages"></app-pagination>
    }
    @else {
    <p>No customer added yet</p>
    }
</div>