  .container {
      display: flex;
      gap: 20px;
      padding: 20px;
      max-width: 18000px;
      margin: auto;
  }

  @media (max-width: 768px) {
      .container {
          flex-direction: column;
      }
  }