<div class="form-section">
    <h2>Add Customer</h2>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Enter name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" placeholder="Enter email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" type="text" placeholder="Enter phone number" formControlName="phoneNumber">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea id="address" rows="3" placeholder="Enter address" formControlName="address"></textarea>
        </div>
        <div class="form-group">
            <label>Customer type</label>
            <select formControlName="customerTypeId">
                <option [ngValue]="0">Select customer type</option>
                @for (item of customerTypes; track $index) {
                <option [ngValue]="$index+1">{{item}}</option>
                }
            </select>
        </div>
        <div>
            <label class="bold">Gender : </label>
            <label><input type="radio" name="gender" formControlName="gender" value="Male" /> Male</label>
            <label><input type="radio" name="gender" formControlName="gender" value="Female" /> Female</label>
        </div>

        <div class="hobbies">
            <label class="bold">Hobbies : </label>
            @for(hobby of hobbiList; track $index) {
            <label>
                <input type="checkbox" (change)="toggleHobby(hobby, $event)"/>
                {{ hobby }}
            </label>
            }
        </div>
        <div class="multi-select">
            <label class="bold">Countries (multi-select)</label>
            <div>
                <select multiple size="5" formControlName="countryCodes">
                    @for (country of countries; track $index) {
                    <option (change)="selectCoutry($index, $event)">{{ country }}</option>
                    }
                </select>
            </div>    
        </div>
        <button type="submit">Add Customer</button>
    </form>
    @if (popUpSuccessMessage) {
    <app-success-message [message]="customerAddedMessage"></app-success-message>
    }
    @if (popUpErrorMessage) {
    <app-error-message [message]="customerErrorMessage"></app-error-message>
    }
</div>